/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 nav ul a,
 nav .brand-logo {
   color: #444;
 }
 
 p {
   line-height: 2rem;
 }
 
 .sidenav-trigger {
   color: #26a69a;
 }
 
 .parallax-container {
   min-height: 100vh;
   line-height: 0;
   height: auto;
   color: rgba(255,255,255,.9);
   background-color: rgba(0,0,0,0.4);
   /* position: absolute; */
   width: 100%;
 }
   .parallax-container .section {
     width: 100%;
   }
 
 @media only screen and (max-width : 992px) {
   .parallax-container .section {
     position: absolute;
     top: 40%;
   }
   #index-banner .section {
     top: 38%;
   }
 }
 
 @media only screen and (max-width : 600px) {
   #index-banner .section {
     top: 0;
   }
 }
 
 .icon-block {
   padding: 0 15px;
 }
 .icon-block .material-icons {
   font-size: inherit;
 }

#event, #gallery {
  background-color: #F4F0ED;
}

.event {
  background-color: #F4F0ED;
}

.ornament{
  width: 170px;
}

.location-link{
  color: #CB9448;
  font-weight: bold;
  font-size: 16px;
}

h2, h3, h4, h5, h6, p, span {
  font-family: "Cormorant Garamond", serif;
}
 footer.page-footer {
   margin: 0;
 }

/* TEST */

h1 {
  font-size: 79pt;
  font-family: "Allura", cursive;
}
 